@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:400,400i,600,600i,700,700i&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

input,
button {
  outline: 0;
  border: 0;
}

body,
#root {
  display: flex;
  width: 100%;
  font-family: 'Josefin Sans', Arial, sans-serif;
  text-rendering: optimizeLegibility !important;
  -webkit-font-smoothing: antialiased !important;
}

#root {
  flex-direction: column;
  display: flex;
  width: 100%;
}

.profile-info {
  display: flex;
  width: 100%;
  flex-direction: column;
  background: #f9f9f9;
}

.education-info {
  background-image: url('./assets/background1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  flex-direction: column;
}
